<div style="width: 500px;">
  <h2 mat-dialog-title>Anexos</h2>
  <mat-dialog-content>
    <div style="position: absolute; top: 20px; right: 15px;">
      <button mat-fab [matMenuTriggerFor]="menu">
        <mat-icon>add</mat-icon>
      </button>

      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>menu_open</mat-icon>
          <span>Plantilla</span>
        </button>
        <button (click)="createEmptyCanvas()" mat-menu-item>
          <mat-icon>check_box_outline_blank</mat-icon>
          <span>Lienzo en blanco</span>
        </button>
      </mat-menu>
    </div>

    <mat-grid-list cols="12" rowHeight="100px">
      <mat-grid-tile [colspan]="12">
        <div style="width: 100%;">
          <mat-list>
            <mat-list-item style="cursor:pointer;">
              <span matListItemTitle>Anexo 1</span>
              <span matListItemLine>Produced by a plant</span>
            </mat-list-item>
            <mat-list-item>
              <span matListItemTitle>Anexo 2</span>
              <span matListItemLine>Extracted from sea water</span>
            </mat-list-item>
          </mat-list>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-dialog-content>
  <mat-dialog-actions>
    <!-- <button mat-button>No Thanks</button> -->
    <button mat-button [mat-dialog-close]="" cdkFocusInitial>Cerrar</button>
  </mat-dialog-actions>
</div>